---
import Close from '../icons/Close.astro';

const { assets } = Astro.props;
---

<dialog
  id="imagesDialog"
  class="min-h-full min-w-full bg-transparent border-none p-0 sm:p-4 lg:py-5 lg:px-20 [&::backdrop]:backdrop-blur-sm [&::backdrop]:bg-black/50 [&+.backdrop]:backdrop-opacity-80"
>
  <div class="bg-background w-full h-full relative rounded-sm py-10">
    <button
      id="closeButton"
      class="text-textColor absolute right-1 top-1 rounded-full p-1 hover:bg-black/20 [html.dark_&]:hover:bg-white/20"
    >
      <Close />
    </button>

    <div class="grid md:grid-cols-[3fr_305px] gap-3 h-full px-4">
      <div class="py-2">
        <img
          id="frontImage"
          class="max-h-[calc(100vh-8.5rem)] m-auto"
          src={assets[0].url}
          alt={assets[0].alt}
        />
      </div>
      <div id="imageGallery" class="py-2 flex flex-wrap gap-4 content-start">
        {
          assets.map(({ url, type, alt }: any, index: number) => (
            <button
              id={`gallery-${index}`}
              class=" w-20 h-20 border-2 rounded-sm hover:border-blue-700"
            >
              <img class="w-full h-full object-cover" src={url} alt={alt} />
            </button>
          ))
        }
      </div>
    </div>
  </div>
</dialog>

<script define:vars={{ assets }}>
  closeButton.addEventListener('click', () => {
    const dialog = document.getElementById('imagesDialog');
    document.body.classList.remove('overflow-hidden');
    dialog.classList.remove(
      'animate-fade-in',
      '[&::backdrop]:animate-fade-in',
      '[&+.backdrop]:animate-fade-in'
    );
    dialog.classList.add(
      'animate-fade-out',
      '[&::backdrop]:animate-fade-out',
      '[&+.backdrop]:animate-fade-out'
    );

    setTimeout(() => {
      dialog.close();
      dialog.classList.remove(
        'animate-fade-out',
        '[&::backdrop]:animate-fade-out',
        '[&+.backdrop]:animate-fade-out'
      );
    }, 240);
  });
</script>
