---
import Logo from '../icons/Logo.astro';
import MenuRight from '../icons/MenuRight.astro';
import GithubIcon from '../icons/Github.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import EmailIcon from '../icons/Email.astro';
import Dark from '../icons/Dark.astro';
import Light from '../icons/Light.astro';

export interface Props {
  className: string;
}

const { className } = Astro.props;

const navLinks: { label: string; href: string }[] = [
  { label: 'Inicio', href: '/' },
  { label: 'Proyectos', href: '/#projects' },
  { label: 'Contacto', href: '/#contact' }
];

const socialLinks = [
  { label: 'Email', href: 'mailto:jordigd8@gmail.com', Icon: EmailIcon },
  { label: 'GitHub', href: 'https://github.com/jordigd20', Icon: GithubIcon },
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/jordi-g%C3%B3mez-devesa-a21860219/',
    Icon: LinkedInIcon
  }
];
---

<nav
  class="text-textColor flex flex-col items-center justify-center lg:p-5 lg:px-10 lg:flex-row lg:justify-between"
  class:list={className}
>
  <div class="p-5 w-full flex items-center justify-between lg:p-0 lg:w-auto">
    <a href="/" class="flex items-center font-brand gap-3 text-xl">
      <Logo />
       Jordi Gómez Devesa
    </a>

    <div>
      <input type="checkbox" id="menu" hidden class="peer" />
      <label for="menu" class="relative z-50 block lg:hidden cursor-pointer">
        <MenuRight />
      </label>
    </div>
  </div>

  <ul
    id="navbarList"
    class="p-3 hidden opacity-0 lg:opacity-100 lg:flex lg:static lg:items-center lg:justify-center lg:gap-10"
  >
    {
      navLinks.map(({ label, href }) => (
        <li class="relative px-5 lg:px-0 hover:font-extrabold hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-[#38BDF8] hover:to-[#45D9BF]">
          <a aria-current={Astro.url.pathname === href} class="w-full block" href={href}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>

  <div
    id="navbarLastCol"
    class="w-full hidden opacity-0 fade-in-down p-4 border-t border-grey-500 rounded-b-lg dark:border-[#273449] shadow-grey-500 dark:shadow-[#273449] shadow-md lg:shadow-none lg:opacity-100 lg:block lg:w-auto lg:border-none"
  >
    <div class="flex items-center justify-between">
      <div class="px-4 flex items-center gap-2">
        {
          socialLinks.map(({ label, href, Icon }) => (
            <a
              class="transition-transform hover:scale-110 [&>svg]:fill-textColor"
              href={href}
              target="_blank"
              aria-label={label}
            >
              <Icon />
            </a>
          ))
        }
      </div>

      <button
        id="toggleThemeBtn"
        class="bg-[#273449] rounded-full flex items-center"
        aria-label="Cambiar de modo oscuro/claro"
      >
        <span
          class="flex p-1 w-8 relative z-1 transition-transform dark:text-white dark:before:translate-x-full before:transition-transform before:absolute before:inset-0 before:bg-[#45d9bf] before:rounded-full"
          ><Light /></span
        >
        <span
          class="transition-transform text-[#ffffff] dark:text-[#273449] flex p-1 w-8 relative z-1"
          ><Dark /></span
        >
      </button>
    </div>
  </div>
</nav>

<script>
  const menuCheckbox = document.getElementById('menu') as HTMLInputElement;
  const mediaQuery = window.matchMedia('(min-width: 1024px)');
  const navbarList = document.getElementById('navbarList') as HTMLUListElement;
  const navbarSocialCol = document.getElementById('navbarLastCol') as HTMLDivElement;
  const toggleThemeBtn = document.getElementById('toggleThemeBtn') as HTMLButtonElement;

  const onCheckedFalse = (fromCheckbox: boolean) => {
    if (fromCheckbox) {
      navbarList.classList.add('animate-fade-out-up');
      navbarSocialCol.classList.add('animate-fade-out-up');

      setTimeout(() => {
        navbarList.classList.add('hidden', 'opacity-0');
        navbarList.classList.remove(
          'block',
          'w-full',
          'opacity-100',
          'animate-fade-in-down',
          'animate-fade-out-up'
        );
        navbarSocialCol.classList.add('hidden', 'opacity-0');
        navbarSocialCol.classList.remove(
          'block',
          'w-full',
          'opacity-100',
          'animate-fade-in-down',
          'animate-fade-out-up'
        );
      }, 250);
    } else {
      navbarList.classList.add('hidden', 'opacity-0');
      navbarList.classList.remove('block', 'w-full', 'opacity-100', 'animate-fade-in-down');
      navbarSocialCol.classList.add('hidden', 'opacity-0');
      navbarSocialCol.classList.remove('block', 'w-full', 'opacity-100', 'animate-fade-in-down');
    }
  };

  menuCheckbox.addEventListener('change', (event: any) => {
    if (event.target.checked) {
      navbarList.classList.remove('hidden', 'opacity-0');
      navbarList.classList.add('block', 'w-full', 'opacity-100', 'animate-fade-in-down');
      navbarSocialCol.classList.remove('hidden', 'opacity-0');
      navbarSocialCol.classList.add('block', 'w-full', 'opacity-100', 'animate-fade-in-down');
    } else {
      onCheckedFalse(true);
    }
  });

  mediaQuery.addEventListener('change', (event: any) => {
    if (event.matches) {
      menuCheckbox.checked = false;
      onCheckedFalse(false);
    }
  });

  toggleThemeBtn.addEventListener('click', () => {
    const isDark = document.documentElement.classList.contains('dark');
    document.documentElement.classList[!isDark ? 'add' : 'remove']('dark');
  });
</script>
