---
import Logo from '../icons/Logo.astro';
import MenuRight from '../icons/MenuRight.astro';
import GithubIcon from '../icons/Github.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import EmailIcon from '../icons/Email.astro';
import Dark from '../icons/Dark.astro';
import Light from '../icons/Light.astro';
import NavMobile from './NavMobile.astro';

const navLinks: { label: string; url: string }[] = [
  { label: 'Inicio', url: '/' },
  { label: 'Proyectos', url: '/#projects' },
  { label: 'Contacto', url: '/#contact' }
];

const socialLinks = [
  { label: 'Email', url: 'mailto:jordigd8@gmail.com', Icon: EmailIcon },
  { label: 'GitHub', url: 'https://github.com/jordigd20', Icon: GithubIcon },
  {
    label: 'LinkedIn',
    url: 'https://www.linkedin.com/in/jordi-gomez-devesa/',
    Icon: LinkedInIcon
  }
];
---

<header class="block w-full border-b border-border text-primary">
  <div class="container flex items-center justify-between h-16">
    <div class="relative p-5 w-full flex items-center justify-between lg:p-0 lg:w-auto">
      <a href="/" class="hidden xxs:flex items-center gap-3 text-lg sm:text-xl font-medium" aria-label="Navigate Home">
        <Logo width={40} height={35} />
        Jordi Gómez Devesa
      </a>

      <a href="/" class="xxs:hidden" aria-label="Navigate Home">
        <Logo width={35} height={30} />
      </a>

      <button class="z-50 lg:hidden cursor-pointer" id="mobileNavBtn">
        <MenuRight />
        <span class="sr-only">Toggle menu</span>
      </button>
    </div>

    <nav
      class="p-3 hidden opacity-0 lg:opacity-100 lg:flex lg:static lg:items-center lg:justify-center lg:gap-10"
    >
      {
        navLinks.map(({ label, url }) => (
          <a
            class="nav-link relative font-medium px-5 lg:px-0 hover:font-bold hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-[#38BDF8] hover:to-[#45D9BF]"
            aria-current={Astro.url.pathname === url}
            href={url}
          >
            {label}
          </a>
        ))
      }
    </nav>

    <div class="hidden lg:block lg:w-auto">
      <div class="flex items-center justify-between">
        <div class="px-4 flex items-center gap-2">
          {
            socialLinks.map(({ label, url, Icon }) => (
              <a
                class="transition-transform hover:scale-110 [&>svg]:fill-textColor"
                href={url}
                target="_blank"
                aria-label={label}
              >
                <Icon />
              </a>
            ))
          }
        </div>

        <button
          id="toggleThemeBtn"
          class="bg-[#273449] rounded-full flex items-center"
          aria-label="Cambiar de modo oscuro/claro"
        >
          <span
            class="flex p-1 w-8 relative z-1 transition-transform text-[#273449] dark:text-white dark:before:translate-x-full before:transition-transform before:absolute before:inset-0 before:bg-[#45d9bf] before:rounded-full"
          >
            <Light />
          </span>
          <span
            class="transition-transform text-[#ffffff] dark:text-[#273449] flex p-1 w-8 relative z-1"
          >
            <Dark />
          </span>
        </button>
      </div>
    </div>
  </div>
</header>

<NavMobile navLinks={navLinks} socialLinks={socialLinks} />

<script>
  import dialogPolyfill from 'dialog-polyfill';

  function setUpEventListeners() {
    const mobileNavBtn = document.getElementById('mobileNavBtn') as HTMLButtonElement;
    const navMobile = document.getElementById('navMobile') as HTMLDialogElement;
    const toggleThemeBtn = document.getElementById('toggleThemeBtn') as HTMLButtonElement;

    dialogPolyfill.registerDialog(navMobile);

    mobileNavBtn.addEventListener('click', () => {
      navMobile.showModal();
    });

    toggleThemeBtn.addEventListener('click', () => {
      const isDark = document.documentElement.classList.contains('dark');
      document.documentElement.classList[!isDark ? 'add' : 'remove']('dark');
      localStorage.setItem('theme', isDark ? 'light' : 'dark');
    });
  }

  setUpEventListeners();
</script>
