---
import NutriusImage from '../assets/nutrius.webp';
import CollabtaskImage from '../assets/collabtask.webp';
import WeatherAppImage from '../assets/weather-app.webp';
import BookstoreImage from '../assets/bookstore.webp';
import { Image } from 'astro:assets';

const projects = [
  {
    title: 'NutriUs - Desarrollo del proyecto de una startup',
    description:
      'Aplicación web sobre nutrición infantil que ofrece menús y dietas para niños de acuerdo con los objetivos/intolerancias que los tutores/padres establezcan.Mientras los niños cuentan con un entorno gráfico atractivo para ellos en el que pueden interactuar y conseguir recompensas, los padres/tutores disponen de un apartado en el que poder ver un seguimiento de la evolución de los niños.',
    stack: [
      {
        name: 'Angular',
        url: '/assets/technologies/angular.svg'
      },
      {
        name: 'NodeJS',
        url: '/assets/technologies/nodejs.svg'
      },
      {
        name: 'MongoDB',
        url: '/assets/technologies/mongodb.svg'
      },
      {
        name: 'Dialogflow',
        url: '/assets/technologies/dialogflow.svg'
      },
      {
        name: 'WebGL',
        url: '/assets/technologies/webgl.svg'
      }
    ],
    image: NutriusImage,
    imageClass: '',
    href: '/projects/nutrius'
  },
  {
    title: 'CollabTask - App de gestión de tareas colaborativas',
    description:
      'Diseño y desarrollo de una aplicación móvil para la gestión y el reparto de tareas entre un grupo de personas de una manera equitativa y justa entre los participantes.',
    stack: [
      {
        name: 'Ionic',
        url: '/assets/technologies/ionic.svg'
      },
      {
        name: 'Angular',
        url: '/assets/technologies/angular.svg'
      },
      {
        name: 'Firestore',
        url: '/assets/technologies/firebase.svg'
      }
    ],
    image: CollabtaskImage,
    imageClass: 'object-[50%_15%]',
    href: '/projects/collabtask'
  },
  {
    title: 'Weather App - App de predicción meteorológica',
    description:
      'WeatherApp es una aplicación web que muestra información sobre el pronóstico del tiempo en la ubicación actual del usuario o sobre cualquier otra ciudad.',
    stack: [
      {
        name: 'Angular',
        url: '/assets/technologies/angular.svg'
      },
      {
        name: 'TailwindCSS',
        url: '/assets/technologies/tailwindcss.svg'
      }
    ],
    image: WeatherAppImage,
    imageClass: '',
    href: '/projects/weather-app'
  },
  {
    title: 'Bookstore - Tienda online de libros',
    description:
      'Bookstore es un e-commerce desarrollado desde cero que permite realizar todas las funcionalidades básicas de una tienda online.',
    stack: [
      {
        name: 'Angular',
        url: '/assets/technologies/angular.svg'
      },
      {
        name: 'TailwindCSS',
        url: '/assets/technologies/tailwindcss.svg'
      },
      {
        name: 'NestJS',
        url: '/assets/technologies/nestjs.svg'
      },
      {
        name: 'Prisma',
        url: '/assets/technologies/prisma.svg'
      },
      {
        name: 'PostgreSQL',
        url: '/assets/technologies/postgresql.svg'
      },
      {
        name: 'Stripe',
        url: '/assets/technologies/stripe.svg'
      },
      {
        name: 'Swagger',
        url: '/assets/technologies/swagger.svg'
      },
      {
        name: 'Railway',
        url: '/assets/technologies/railway.svg'
      }
    ],
    image: BookstoreImage,
    imageClass: '',
    href: '/projects/bookstore'
  }
];
---

<section id="projects" class="text-textColor px-5 pb-20 opacity-0 transition-all">
  <h2 class="text-2xl mb-5 font-bold">Proyectos</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      projects.map(({ title, description, stack, image, imageClass, href }) => (
        <article class="bg-[#ecf1f4] dark:bg-gradient-to-r dark:from-[#273449] dark:to-[#2A4A4B] rounded-lg shadow-[0_3px_0_0_#45D9BF]">
          <Image
            class="rounded-t-lg w-full h-52 object-cover"
            class:list={imageClass}
            src={image}
            alt=""
          />

          <div class="p-5">
            <a class="hover:underline" href={href}>
              <h3 class="font-bold mb-3">{title}</h3>
            </a>
            <p class="text-sm line-clamp-4 mb-3 dark:text-[#d1d7de]">{description}</p>
            <footer class="flex items-center gap-1 [&>svg]:w-6">
              {stack.map((tech) => (
                <div
                  class="w-6 h-6 bg-textColor"
                  style={`-webkit-mask: url(${tech.url}) no-repeat center;mask: url(${tech.url});`}
                  title={tech.name}
                />
              ))}
            </footer>
          </div>
        </article>
      ))
    }
  </div>
</section>
