---
import Nav from '../components/Nav.astro';
import Head from '../components/Head.astro';
import GithubIcon from '../icons/Github.astro';
import VisitSiteIcon from '../icons/VisitSite.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
const title = `Jordi Gómez Devesa | ${frontmatter.title}`;
---

<!doctype html>
<html lang="es">
  <head>
    <Head title={title} description={frontmatter.description} />
  </head>
  <body class="bg-background">
    <header>
      <Nav className={frontmatter.navClass} />
    </header>

    <main class="container max-w-[1024px] text-textColor">
      <div class="flex items-center justify-between gap-2 flex-wrap">
        <h1 class="text-textColor text-4xl font-bold mb-2">
          {frontmatter.title}
        </h1>

        <div class="flex items-center gap-3">
          <a
            class="text-black p-1.5 px-3 rounded-lg bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] flex items-center gap-2 [&>svg]:fill-black hover:bg-none hover:bg-background hover:text-textColor hover:border-[#45d9bf] border-2 border-transparent bg-origin-border"
            href={frontmatter.github}
            target="_blank"
          >
            <GithubIcon />
            GitHub
          </a>

          {
            frontmatter.site && (
              <a
                class="text-black p-1.5 px-3 rounded-lg bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] flex items-center gap-2 [&>svg]:fill-black hover:bg-none hover:bg-background hover:text-textColor hover:border-[#45d9bf] border-2 border-transparent bg-origin-border"
                href={frontmatter.site}
                target="_blank"
              >
                <VisitSiteIcon />
                Visitar
              </a>
            )
          }
        </div>
      </div>

      <div class="swiper flex flex-wrap gap-1 my-4 rounded-md shadow-sm">
        <div class="swiper-wrapper pswp-gallery" id="gallery">
          {
            frontmatter.assets.map(({ url, type, alt }: any, index: number) => (
              <a
                class="swiper-slide"
                href={url}
                data-pswp-width={frontmatter.width.number}
                data-pswp-height={frontmatter.height.number}
                target="_blank"
              >
                <img
                  class="w-full h-full object-cover "
                  id={`image-${index}`}
                  src={url}
                  alt={alt}
                />
              </a>
            ))
          }
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev shadow-2xl"></div>
        <div class="swiper-button-next shadow-2xl"></div>

        <div class="swiper-scrollbar"></div>
      </div>

      <div class="space-y-3">
        <div class="pt-2 flex items-center flex-wrap gap-3">
          {
            frontmatter.stack.map(({ name, url }: any) => (
              <div class="py-1 pl-2 pr-3 rounded-full flex items-center gap-2 bg-[#273449] ">
                <img class="w-5 h-5" src={url} alt={name} />
                <span class="text-white">{name}</span>
              </div>
            ))
          }
        </div>
        <p class="text-textColor">{frontmatter.date}</p>
      </div>

      <div
        class="mb-10 p-5 lg:p-0 xl:pt-5 [&>h1]:text-3xl [&>h1]:font-bold [&>h1]:mb-4 [&>p]:mb-4 [&>h2]:font-bold [&>h2]:text-2xl [&>h2]:mb-2 [&>h2]:mt-8 [&>pre]:p-5 [&>pre]:mb-4 [&>pre]:whitespace-pre-wrap [&>pre]:text-justify [&>ul]:list-disc [&>ul>li]:mb-3 [&>ul>li:last-child]:mb-4 [&>ul>li>ul]:list-revert [&>ul>li>ul]:ml-4 [&>ul>li>a]:break-words [&_a]:text-[#00C2FF] [&_a]:underline [&_a:hover]:opacity-50"
      >
        <slot />
      </div>
    </main>

    <Footer />
    <script>
      import Swiper from 'swiper';
      import { Navigation, Pagination } from 'swiper/modules';
      import PhotoSwipeLightbox from 'photoswipe/lightbox';
      import 'swiper/css';
      import 'swiper/css/navigation';
      import 'swiper/css/pagination';
      import 'photoswipe/style.css';

      function setUpPhotoSwipe() {
        const lightbox = new PhotoSwipeLightbox({
          gallery: '#gallery',
          children: 'a',
          padding: {
            top: 50,
            bottom: 50,
            left: 50,
            right: 50
          },
          loop: false,
          pswpModule: () => import('photoswipe')
        });

        lightbox.init();

        const swiper = new Swiper('.swiper', {
          modules: [Navigation, Pagination],
          spaceBetween: 20,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
            dynamicMainBullets: 3
          }
        });

        lightbox.on('close', () => {
          const index = lightbox.pswp!.currIndex;
          swiper.slideTo(index, 0, false);
        });
      }

      document.addEventListener('astro:page-load', setUpPhotoSwipe);
    </script>

    <style define:vars={{ width: frontmatter.width.string, height: frontmatter.height.string }}>
      .swiper {
        max-width: var(--width);
        max-height: var(--height);
      }
      .swiper-button-next,
      .swiper-button-prev {
        background-color: white;
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
        padding: 8px 22px;
        border-radius: 9999px;
        box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.1490196078);
      }
      .swiper-button-prev {
        background-image: url('/assets/icons/chevron-left.svg');
      }
      .swiper-button-next {
        background-image: url('/assets/icons/chevron-right.svg');
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        content: '';
      }
    </style>
  </body>
</html>
